.slds-card__footer-action {
    text-align: left;
}

.slds-card__footer {
    border-top: none !important;
    justify-content: start;
}

.footer-padding {
    padding-top: 0;
}

.header-icon {
    background-color: #4bca81;
}
