.slds-card__footer-action {
    text-align: left;
}

.slds-card__footer {
    border-top: none !important;
    justify-content: start;
}

.header-icon {
    background-color: #4bca81;
}

.slds-card {
    padding: 1.25rem 1rem;
}

.slds-card__body,
.slds-card__footer,
.slds-card__header {
    padding: 0;
}
