.container {
    min-height: 2.5rem;
    height: auto;
    padding-right: 0.625rem;
    display: flex;
    align-items: center;
    background-color: #335f67;
}

.margin-area {
    min-width: 5rem;
    max-width: 5rem;
}

.content-area {
    align-items: center;
}

.content-padding {
    padding-right: 2.5rem;
}
