.quicktext-button {
    position: absolute;
    z-index: 1;
    right: 0;
    margin-top: 115px;
}

.quicktext-item div:hover {
    background: #eeeeee;
}

.modalHide {
    display: none;
}

.modalShow {
}
