.quicktext-button {
    position: absolute;
    z-index: 1;
    right: -0.5em;
    top: calc(50%-10px);
}

.quicktext-item div:hover {
    background: #eeeeee;
}

.modalHide {
    display: none;
}

.modalShow {
}
