.emoji {
    cursor: pointer;
    border: transparent;
}

.emoji:focus {
    border: solid 1px blue;
}

.textArea {
    width: 100%;
    --sds-c-textarea-sizing-min-height: 100px;
    font-size: 0.813rem;
    margin-top: -0.75rem;
}

.button {
    border: none;
}

.label {
    background-color: transparent;
}

.path1:hover {
    fill: rgb(246, 201, 18);
}

.path2:hover {
    fill: rgb(249, 217, 82);
}

.select1 {
    fill: rgb(238, 177, 30);
}

.select2 {
    fill: rgb(249, 205, 24);
}

svg {
    width: 3.125rem;
    height: 3.125rem;
}

.sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
