.highlightPanel {
    font-size: 16px;
    line-height: 1.5rem;
    width: 100%;
    color: white;
}

.highlightPanelTop {
    min-height: 5.5rem;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.pointer {
    cursor: pointer;
}

.relativePosition {
    position: relative;
}

.greenBadge,
.redBadge {
    border: 2px white solid;
    padding-right: 1rem;
    padding-left: 1rem;
    font-size: 0.875rem;
    font-weight: normal;
}

.greenBadge {
    background-color: #66c786 !important;
}

.redBadge {
    background-color: #ad0000 !important;
}

.nowrap-selector {
    flex-wrap: wrap;
}

.greenBadge + lightning-layout-item c-nks-person-highlight-panel-badge-content {
    --badge-line: #66c786;
}

.redBadge + lightning-layout-item c-nks-person-highlight-panel-badge-content {
    --badge-line: #ad0000;
}

.panelBackground {
    background-color: var(--primaryBackgroundColor, #335f67);
    background-color: var(--secondaryBackgroundColor, #2b5157);
    background-color: var(--borderColor, #75aeb6);
}
