.button-heights {
    height: 100%;
    line-height: var(--slds-g-font-lineheight-2, 1.25);
}

.button-spacing {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.footer-align-end {
    justify-content: flex-end !important;
}

.footer-align-start {
    justify-content: flex-start !important;
}

.footer-align-center {
    justify-content: center !important;
}
