.custom-button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0.5rem 1rem;
    line-height: 1.2;
    height: auto;
    white-space: normal;
    word-wrap: break-word;
    --slds-c-button-outline-brand-color-background-hover: #cce1ff;
    --slds-c-button-outline-brand-color-background-active: #cce1ff;
    --slds-c-button-outline-brand-color-border-hover: #0056b4;
}
