img {
    width: 100%;
    height: 8.438rem;
    border: solid var(--lwc-borderWidthThin, 1px) #f3f3f3;
    object-fit: cover;
    max-width: 100%;
    display: block;
}

.pinned {
    --sds-c-icon-color-foreground-default: rgb(1, 118, 211);
}

.title {
    font-size: 1.075rem;
    font-weight: 600;
    color: #03234d;
}

.summary {
    font-size: 0.83rem;
    font-weight: 500;
}
