.container {
    background-color: #335f67;
    border-bottom: solid 0.0625rem #75aeb6;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.icon-container {
    width: 48px;
    height: 48px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    padding: 10px;
}

.home-icon {
    --slds-c-icon-color-foreground-default: #335f67;
    padding: 5px;
}

h1 {
    color: white;
}

.custom-padding-left {
    padding-left: 1rem;
}
