.table-row {
    min-height: 48px;
}

.icon-container {
    display: flex;
    align-items: center;
    justify-content: left;
}

.copy-icon {
    padding-bottom: 12px;
    padding-left: 2px;
    float: right;
}

.custom-left-padding-large {
    padding-left: 1.5rem;
}

.custom-left-padding-small {
    padding-left: 0.75rem;
}

.custom-left-padding-medium {
    padding-left: 1rem;
}

.custom-horizontal-padding-large {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.custom-divider {
    border-bottom: 1px solid #a9a9a9;
}

.custom-padding-top-small {
    padding-top: 1rem;
}

.custom-padding-bottom-small {
    padding-top: 0.25rem;
}

.text-divider {
    display: inline;
    margin: 0 0.8rem;
}

.text-divider::after {
    content: '|';
}

.custom-font-size {
    font-size: 14px;
}
