:host {
    --sds-c-accordion-section-spacing-block-start: 0.25rem;
    --sds-c-accordion-section-spacing-inline-end: 0rem;
    --sds-c-accordion-section-spacing-block-end: 0.25rem;
    --sds-c-accordion-section-spacing-inline-start: 0rem;
}

.counter {
    text-align: right;
}
