.weak-text {
    color: dimgray;
    font-size: smaller;
}

.padding-bottom {
    padding-bottom: 1.25rem;
}

.padding-top {
    padding-top: 1.5rem;
}

.button-padding-bottom {
    padding-bottom: 1rem;
}
