.weak-text {
    color: dimgray;
    font-size: smaller;
}

.padding-bottom {
    padding-bottom: 1.25rem;
}

.padding-top {
    padding-top: 1.5rem;
}

.button-padding-bottom {
    padding-bottom: 1rem;
}

.button-padding {
    padding-bottom: 1rem;
    padding-top: 1.5rem;
}

.padding-border-bottom {
    border-bottom: 1px solid black;
    padding-bottom: 1.5rem;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
