.payment-tile-bg {
    border-style: solid;
    border-color: #949494;
    border-width: 1px;
    cursor: pointer;
    border-radius: 0.3em;
}

.payment-tile-bg:hover {
    border-color: rgb(21, 137, 238);
    border-style: solid;
    box-shadow: 0 0 0.1em #0070d2;
}

.chevron-toggle {
    --sds-c-icon-color-foreground-default: #0167c5;
    color: #0167c5;
}

lightning-icon[data-paid='true'] {
    --sds-c-icon-color-foreground-default: green;
}
