.pointer {
    cursor: pointer;
}

.slds-p-top_x-small {
    background-color: #F3F2F2;
    padding: 5px;
    
}

.slds-theme_default {
   padding: 0;
}

.lightning-layout-item {
    padding-left: 10px;
}

