.pointer {
    cursor: pointer;
}

.slds-box {
    background-color: #f3f2f2;
}

li {
    word-break: break-word;
}

.spaceClass {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
}
