.linebreak {
    white-space: pre-line;
}

.flexBtns {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    flex-wrap: wrap;
}

.bold {
    font-weight: bold;
}

.borderSpacing {
    border-left: 1px solid #a0a0a0;
    padding-left: 16px;
}

.errorColor {
    color: #ea001e;
}
