.linebreak {
    white-space: pre-line;
}

.flexBtns {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    flex-wrap: wrap;
}

.bold {
    font-weight: bold;
}

.borderSpacing {
    border-left: 1px solid #a0a0a0;
    padding-left: 16px;
}

.errorColor {
    color: #ea001e;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
