.grid-container {
    display: grid;
    grid-template-columns: 15% 15% 15% 55%;
    grid-auto-flow: column;
  }

.slds-theme_default {
      padding: 4px;
}

.gender-container {
    display: flex;
    flex-direction: row; 
    padding-top: 1px;
}

.personIdent {
    padding-top: 7px;
}

.grid-item {
    display: flex;
    flex-direction: row;
    padding-top: 8px;
}

.badge {
    display: flex;
    flex-direction: row;
}

.MaleFilled {
    --sds-c-icon-color-foreground-default: white;
    border-radius: 0.25rem;
    background-color:  #3386E0;
    width: 32px;
    height: 32px;
    padding: 4px 0 0 4px;
}

.FemaleFilled {
    --sds-c-icon-color-foreground-default: white;
    border-radius: 0.25rem;
    background-color: #D05C4A;
    width: 32px;
    height: 32px;
    padding: 4px 0 0 4px; 
}

.NeutralFilled {
    --sds-c-icon-color-foreground-default: white;
    border-radius: 0.25rem;
    background-color: #A18DBB;
    width: 32px;
    height: 32px;
    padding: 4px 0 0 4px;  
}