.slds-theme_default {
    padding: 6px;
}

.slds-grid {
    align-items: center;
}

.gender {
    display: flex;
    width: 2rem;
    height: 2rem;
    float: left;
}

.personIdent {
    float: left;
}

.copy-icon {
    float: right;
}

.MaleFilled {
    --sds-c-icon-color-foreground-default: white;
    border-radius: 0.25rem;
    background-color: #3386e0;
    width: 2rem;
    height: 2rem;
    padding: 4px 0 0 4px;
}

.FemaleFilled {
    --sds-c-icon-color-foreground-default: white;
    border-radius: 0.25rem;
    background-color: #d05c4a;
    width: 2rem;
    height: 2rem;
    padding: 4px 0 0 4px;
}

.NeutralFilled {
    --sds-c-icon-color-foreground-default: white;
    border-radius: 0.25rem;
    background-color: #a18dbb;
    width: 2rem;
    height: 2rem;
    padding: 4px 0 0 4px;
}

.sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.card-color {
    background-color: #f3f2f2;
}

.blue-icon {
    float: right;
    --lwc-colorTextIconDefault: #3386e0;
}

.grey-icon {
    float: right;
    --lwc-colorTextIconDefault: grey;
}

.close {
    float: right;
    border: 0;
    padding-top: 5px;
    background: none;
}
