.case-tile-bg  {
    cursor: pointer;
    --sds-c-icon-color-foreground-default: lightgrey;
}
.case-tile-bg[data-selected='true']  {
    color: rgb(21, 137, 238);
}

.case-tile-bg:hover {
    color: rgb(21, 137, 238);
    --sds-c-icon-color-foreground-default: green !important;
}

lightning-icon[data-selected='true'] {
    --sds-c-icon-color-foreground-default: green;
}
